* {
  box-sizing: border-box;
}
body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background: linear-gradient(to bottom, #2c0f00, #7a3500);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
  background: #fff;
  padding: 15px 0;
  border-radius: 0 0 10px 10px;
  box-shadow: 0px 4px 8px rgba(0,0,0,0.2);
  position: sticky;
  top: 0;
  z-index: 100;
}
.header-container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}
.logo-img {
  width: 35px;
  height: 35px;
}
header h2 {
  color: #ff6600;
  font-weight: 900;
  letter-spacing: 1px;
}
nav {
  display: flex;
  align-items: center;
  gap: 48px;
}
nav a {
  text-decoration: none;
  font-weight: bold;
  color: #333;
}
nav a:hover {
  color: #ff6600;
}
nav a.active {
  color: #ff6600;
}
button {
  background-color: #ff6600;
  color: #fff;
  border: none;
  border-radius: 20px;
  padding: 10px 30px;
  cursor: pointer;
  font-weight: bold;
  font-size: 14px;
  transition: 0.1s;
}
button:hover {
  background-color: #e65c00;
}

/* Title */
.history-title {
    text-align: center;
    font-size: 42px;
    color: white;
    background: linear-gradient(to bottom, #ffb347, #ff7b00);
    padding: 12px 70px;
    border-radius: 40px;
    width: fit-content;
    margin: 50px auto 30px;
    box-shadow: 0 6px 10px rgba(0,0,0,0.4);
}

/* Search Bar */
.search-section {
    display: flex;
    justify-content: center;
}
.search-container {
    display: flex;
    align-items: center;
    width: 750px;
    background: white;
    border-bottom: 5px solid #ff7b00;
}
.search-container input {
    flex: 1;
    border: none;
    padding: 15px;
    font-size: 16px;
    outline: none;
}
.search-container button {
    background: #ff7b00;
    color: white;
    border: none;
    padding: 16px 40px;
    font-weight: 700;
    font-size: 15px;
    cursor: pointer;
    border-radius: 0 5px 0 0;
}
.search-container button:hover {
    background: #e36d00;
}


.filter-section {
    display: flex;
    justify-content: center;
    margin-top: 25px;
    margin-bottom: 60px;
}
.filter-box {
    text-align: center;
}
.filter-title {
    background: linear-gradient(to bottom, #ff9500, #ff6a00);
    color: white;
    font-weight: 700;
    font-size: 18px;
    padding: 12px 50px;
    border-radius: 10px;
    display: inline-block;
    margin-bottom: 12px;
}
.filter-box select {
    display: block;
    width: 160px;
    margin: 0 auto;
    padding: 10px;
    font-weight: 700;
    color: #ff7b00;
    border: none;
    border-radius: 8px;
    background: white;
    text-align: center;
}

.order-card {
    width: 85%;
    margin: 30px auto;
    border: 4px solid #ff7b00;
    background: #3b1d0c;
    color: white;
    border-radius: 12px;
    box-shadow: 0 6px 10px rgba(0,0,0,0.4);
}
.order-header {
    background: #ff7b00;
    padding: 10px 20px;
    font-weight: 700;
    font-size: 17px;
}
.order-body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px;
}
.order-info p {
    margin: 6px 0;
    font-size: 17px;
}
.order-body img {
    width: 150px;
    height: 120px;
    border-radius: 10px;
    object-fit: cover;
}
.order-btns {
    display: flex;
    justify-content: flex-end;
    gap: 12px;
    padding: 10px 25px 25px;
}
.order-btns button {
    background: #ff7b00;
    border: none;
    color: white;
    border-radius: 25px;
    padding: 8px 22px;
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
}
.order-btns button:hover { 
    background: #e36d00;
 }
