* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  margin: 0;
  background: #f5f6fa;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
header {
  background: white;
  padding: 15px 0;
  border-radius: 0 0 10px 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}
.header-container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}
.logo-img {
  width: 35px;
  height: 35px;
}
header h2 {
  color: #ff6600;
  font-weight: 900;
  letter-spacing: 1px;
}
nav {
  display: flex;
  align-items: center;
  gap: 48px;
}
nav a {
  text-decoration: none;
  font-weight: bold;
  color: #333;
}
nav a:hover {
  color: #ff6600;
}
nav a.active {
  color: #ff6600;
}
button {
  background-color: #ff6600;
  color: white;
  border: none;
  border-radius: 20px;
  padding: 10px 30px;
  cursor: pointer;
  font-weight: bold;
  font-size: 14px;
  transition: 0.1s;
}
button:hover {
  background-color: #e65c00;
}
main {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 30px;
  justify-content: center;
}
.market-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.market-header h1 {
  margin-bottom: 20px;
  color: #ff6600;
}
.market-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 20px;
}
.market-card {
  background: white;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.08);
  transition: 0.3s;
  padding: 30px;
}
.market-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 25px rgba(255, 102, 0, 0.3);
}
.market-card img {
  margin-top: 18px;
  border-radius: 12px;
  width: 100%;
  height: 280px;
  object-fit: cover;
}
.market-card .info {
  padding: 18px 0px;
}
.market-card h3 {
  margin: 0;
  font-size: 20px;
  color: #333;
}
label {
  display: inline-block;
  margin-top: 10px;
  font-size: 14px;
  font-weight: bold;
}
.market-card form input {
  display: flex;
  flex-direction: column;
  width: 100%;
}
input[type="text"] {
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 14px;
  box-sizing: border-box;
}
input[type="file"] {
  margin-top: 16px;
  font-family: "Poppins", sans-serif;
}
.category {
  margin: 8px 0 15px;
  color: #aaa;
  font-size: 14px;
}
.btn-market {
  float: right;
  margin-bottom: 18px;
  display: inline-block;
  background-color: #ff6600;
  border: none;
  border-radius: 9999px;
  padding: 10px 30px;
  color: white;
  text-decoration: none;
  font-weight: 600;
  transition: 0.1s;
}
.btn-market:hover {
  background-color: #e65c00;
}
