body {
  height: 100vh;
  margin: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(to top, #1a1a1a, #ff6600);
}
header {
  background: #fff;
  padding: 20px;
  border-radius: 0 0 10px 10px;
  box-shadow: 0px 4px 8px rgba(0,0,0,0.2);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.profile-container img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  cursor: pointer;
  margin-bottom: 25px;
  object-fit: cover;
  border: 3px solid #ff6600;
}

header h2 {
  margin: 0;
  color: #ff6600;
}
nav a {
  display: inline-block;
  margin-left: 15px;
  text-decoration: none;
  font-weight: bold;
  color: #333;
}
nav a:hover {
  color: #ff6600;
}
main {
  padding: 40px;
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}
.profile-container {
  display: flex;
  flex-direction: column;
  background: #fff;
  padding: 50px 40px;
  border-radius: 12px;
  width: 600px;
  height: fit-content;
  box-shadow: 0px 6px 15px rgba(0,0,0,0.3);
}
.profile-container img {
  width:170px;
  height:170px;
  cursor:pointer;
  border-radius: 50%;
  margin-bottom: 35px;
}
label {
  font-size: 14px;
  font-weight: bold;
}
input[type=text], textarea {
  margin: 5px 0 20px 0;
  font-family: Arial, sans-serif;
  font-size: 16px;
  box-sizing: border-box;
  border-radius: 8px;
  border: 2px solid #ccc;
  padding: 10px;
  width: 100%
}
textarea {
  min-height: fit-content;
  height: 70px;
}
button {
  margin-bottom: 12px;
  border: none;
  border-radius: 20px;
  padding: 10px 30px;
  cursor: pointer;
  font-weight: bold;
  font-size: 14px;
  transition: 0.1s;
}
.edit {
  width: 100%;
  background-color: #ff6600;
  color: #fff;
  margin-top: 24px;
}
.logout button {
  background-color: #ff6600;
  color: #fff;
}
.logout button:hover, .edit:hover {
  background-color: #e65c00;
}
.photo-actions {
  margin-top: 16px;
}
.delete-btn, .add-btn {
  width: 100%;
  border: 2px solid #ccc;
  background-color: #fff;
  color: #000;
}
.delete-btn {
  border: 2px solid #ccc;
  color: red;
}
.photo-actions button:hover {
  border: 2px solid #ccc;
  background-color: #eeeded;
}
